@font-face {
  font-family: "iconfont"; /* Project id 3222504 */
  src: url('iconfont.woff2?t=1693277326787') format('woff2'),
       url('iconfont.woff?t=1693277326787') format('woff'),
       url('iconfont.ttf?t=1693277326787') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui2:before {
  content: "\e602";
}

.icon-fanhui1:before {
  content: "\e601";
}

.icon-chakandaimapianduan:before {
  content: "\e600";
}

.icon-tupian:before {
  content: "\e620";
}

